section.section.coming_out.outroSection
	.coming_out__decors
		.coming_out__decor.outroDecor
			img.coming_out__decor_img(src="images/flowers/rose_blue_1.png", alt="")
	.coming_out__heart
		svg.coming_out__heart_img(viewBox="0 0 218 164" fill="none" xmlns="http://www.w3.org/2000/svg")
			path.outroHeart.coming_out__heart_path(d="M14.0458 161.836C10.1874 147.689 11.586 130.118 12.6339 115.773C14.2047 94.2692 17.4808 66.7487 30 49C44.4598 28.5 51.9985 18.9601 72.5 14C76.4189 13.0519 87.5 12 94 20.5C97.5 24.5 99.9317 36.7392 98.7601 43.2364C97.7287 48.956 89.8729 63.866 89.5827 58.0614C89.25 51.4067 111.4 35.6775 115.703 31.8529C127.156 21.6726 139.516 13.6795 153.824 8.11525C170.191 1.75039 199.517 -4.05464 210.477 14.8218C225.538 40.7598 212.283 75.3877 189.563 91.0647C156.359 113.975 116.159 119.265 77.9345 128.48C62.1297 132.29 15.2158 143.588 2 153.5" stroke="#fff" stroke-width="3" stroke-linecap="round")
	.coming_out__content
		.coming_out__title.section_title
			p Бажаю, щоб всі твої плани здійснились.
			p Ми погано знаємо один-одного, але я відчуваю твій вайб,
			p твою щирість, доброту.
			p Я впевнений, ти станеш чудовим психологом, і будеш допомагати людям.
			p Нехай ніщо не стане на заваді, навіть війна.
			//- p Ми погано знаємо один-одного,
			//- p але я відчуваю твій вайб, твою щирість, доброту.
			//- p Залишайся такою ж чудовою.
		.coming_out__subtitle.section_title
			p З Днем Народження, Машунь