section.section.greeting
	.greeting__decors
		.greeting__decor.greetingDecor
			img.greeting__decor_in(src='images/flowers/big_bouquet.png')
		.greeting__decor.greetingDecor
			img.greeting__decor_in(src='images/stems/1.png')
		+float_decors()
	.greeting__content
		.greeting__title.section_title
			p Марічка, вітаю з #[strong Твоїм Днем]!
			p 19 років - це вік можливостей і важкої праці
			p в будуванні світлого майбутнього.
			p Вік формування дорослої свідомості і важливих якостей
		.greeting__subtitle.section_title Хочу побажати тобі...