section.section.long_way
	.long_way__column
		+picture({
			class: 'long_way__image',
			img_class: 'long_way__image_img longWayImg',
			img: 'long_way/1.jpg',
		})
		.long_way__descr.section_title
			//- p Ніколи не сумуй, коли щось йде не по плану.
			//- p Знайди сили, та борись за свої мрії, доклавши максимум зусиль

			//- p Ніколи не сумуй та не турбуйся через дрібниця

			p Ніколи не засмучуйся, коли щось йде не по плану
			p Якщо ти докладеш максимум зусиль,
			p то зможеш пройти всі випробування долі
			p і, в результаті, отримати своє
			//- p Бажаю щоб поруч із тобою завджи був хтось, хто допоможе у скрутний момент
			//- p тільки тоді вони стануть дійснюстю.

	.long_way__column
		+picture({
			class: 'long_way__image long_way__image--size_mod',
			img_class: 'long_way__image_img longWayImg2',
			img: 'long_way/2.jpg',
		})