section.section.traveling
	+picture({
		class: 'traveling__bg',
		img_class: 'traveling__bg_img',
		img: 'traveling/bg.jpg',
	})
	.traveling__bg_videos
		video.traveling__bg_video.travelingVideo(src='images/traveling/video_2.mp4' muted type='video/mp4' preload='metadata')
		video.traveling__bg_video.travelingVideo(src='images/traveling/video_3.mp4' muted type='video/mp4' preload='metadata')
		video.traveling__bg_video.travelingVideo(src='images/traveling/video_1.mp4' muted type='video/mp4' preload='metadata')
	.traveling__title.section_title
		p Залишатись вільною душою і тілом
		p Кайфовати від нашого всесвіту,
		p вільно подорожувати і споглядати неймовірні пейзажі