.long_way {
	@extend %global_flex_block_row_nowrap_flex-start_stretch;

	padding: 11.8em 13.6em 6em 7em;
	background-color: $black;
}

.long_way__column {

	&:nth-child(1) {
		@extend %global_flex_block_row_wrap_flex-end;
		width: 70%;
		padding-right: 7em;
	}
	&:nth-child(2) {
		@extend %global_flex_block_row_wrap_flex-start_flex-end;
		width: 30%;
	}
}

.long_way__image {
	position: relative;
	width: 93.1em;
	height: 51.8em;
	overflow: hidden;
	border-radius: 1em;

	&:not(:last-child) {
		margin-right: 4em;
		margin-bottom: 13.3em;

		@include bp(1600px, min) {
			margin-bottom: 5.3em;
		}
	}

	&.long_way__image--size_mod {
		width: 100%;
		height: 64.3em;
	}
}

.long_way__image_img {
	@extend %cover_img;

	position: absolute;
	top: 50%;
	left: 50%;

	.long_way__column:first-child & {
		margin: -36% 0 0 -65%;
		width: 130%;
		height: 130%;
	}

	.long_way__image--size_mod & {
		width: 120%;
    height: 120%;
		margin: -76% 0 0 -60%;
	}
}

.long_way__descr {
	text-align: right;

	@include bp(1600px, min) {
		font-size: 3.2em;
	}

	.section_title__line {
		padding: 0;
	}
}
