mixin float_decors(data)
	.float_decors
		.float_decors__image.floatDecor
			img.float_decors__image_in(src='images/flowers/blue_1.png')
		.float_decors__image.floatDecor
			img.float_decors__image_in(src='images/flowers/blue_2.png')
		.float_decors__image.floatDecor
			img.float_decors__image_in(src='images/flowers/rose_1.png')
		.float_decors__image.floatDecor
			img.float_decors__image_in(src='images/flowers/rose_2.png')