@import "family";
@import "reset";
@import "fonts";
@import "print";

//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-header: 10rem;
	--height-footer: 10rem;
	--gl-indent: 3rem;
}

html {
	height: 100%;
	font: 400 calc(100vw / 1920 * 10)/1.33 $font_1;
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}

	@include bp(1199px) {
		display: none !important;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow: hidden;
}

.base {
	width: 100%;
	position: relative;
	padding: 0;

	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: $color_link_base;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

}

.scroll_wrap {
	@extend %global_flex_block_row_nowrap_flex-start_stretch;
	overflow: visible;
}

.preloader {
	@extend %global_flex_block_column_wrap_center_center;

	z-index: 100;
	position: absolute;
	left: 0;
	top: 0;

	width: 100vw;
	height: 100vh;

	text-align: center;
	background-color: $bg_light;
	transition: opacity .5s ease-in-out .2s;

	body.auth_state & {
		opacity: 0;
		pointer-events: none;
	}

	.label {
		width: 100%;
		margin-bottom: 2rem;
		font-size: 4.4rem;
	}

	.input {
		height: 4rem;
		width: 40rem;
		margin-bottom: 2rem;
		background-color: transparent;
		border-radius: .6rem;
		border: 1px solid currentColor;
		padding: 0 1.6rem;
		font-family: $font_1;
		font-size: 3rem;
	}

	.button {
		padding: .4rem 2rem;
		border-radius: .6rem;
		font-family: $font_1;
		font-size: 3rem;
		border: 1px solid currentColor;
		cursor: pointer;

		transition: background-color .2s ease-in-out, color .2s ease-in-out;

		&:hover,
		&:focus {
			text-decoration: none;

			background-color: $cacao;
			color: $white;
		}
	}
}

.preloader_form {
	@extend %global_flex_block_column_wrap_center_center;

	opacity: 0;

	transition: opacity .3s ease-in-out;

	body.loaded_state & {
		opacity: 1;
	}
}


.audio {
	top: -100rem;
	opacity: 0;
	pointer-events: none;
	height: 0;
	position: absolute;
}

//------------------------------------------------------------base styles###
